/* TODO: It's awful */
.task-entry {
    padding: 30px 20px;
    background-color: #333;
    color: inherit;
    margin: 30px;
    display: inline-block;
    width: 80%;
}

.task-entry .task-difficulty {
    font-style: italic;
    color: inherit;
}

.task-entry .task-text {
    background-color: inherit;
    border: none;
    color: #090;
}
