/* TODO: It's awful */
.task-entry {
    padding: 30px 20px;
    background-color: #333;
    color: inherit;
    /*margin: 30px;*/
    margin: auto;
    display: block;
    margin-bottom: 80px;
    width: 95%;
}

.task-entry .task-difficulty {
    font-style: italic;
    color: inherit;
}

.task-entry .task-text {
    background-color: inherit;
    border: none;
    color: #0b0;
}

.task-container {
    display: block;
    margin: auto;
    width: 1000px;
}
