<!doctype html>
%%GENPY_MODULE:head,page_title=Ugandan Web Force%%

<body>
%%GENPY_MODULE:navbar%%

<div class="container">
    <div class="jumbotron">
        <h1>Ugandan Web Force</h1>
        <p>Кулхацкер's club</p>
        <p>
            <a class="btn btn-lg btn-primary" href="//ctftime.org/team/51669" role="button">View on CTFtime »</a>
        </p>
    </div>
    <div class="list-group">
        <h1 class="list-group-item-heading">Team:</h1>
        <p class="list-group-item">kodo++</p>
        <p class="list-group-item">kamikadzem22</p>
        <p class="list-group-item">...</p>
        <p class="list-group-item">...</p>
        <p class="list-group-item">...</p>
    </div>
</div>

%%GENPY_MODULE:scripts%%
</body>
</html>
